
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  /*  (10 px in REM size) */ 
  font-size: 16px;
}
body {
  font-family: "Fredoka";
  background-color: #F6F6F6;
  color: #000000;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  font-weight: 400; 
  font-size: 16px;
}
a{
  text-decoration: none;
  color: #2b478b; 
}
img{
  max-width: 100%;
}
.text-12{
  font-size: 0.75rem;
}
.text-13{
  font-size: 0.82rem;
}
.text-14{
   font-size: 0.87rem 
}
.text-15{
  font-size: 0.94rem;
}
.text-19{
  font-size: 1.18rem;
}
.text-grey{
    color: #6D6D6D;
}
.text-dark-grey{
    color: #3F3F3F;
}
.text-theme-color{
    color: #615BBC;
}
.min-h-100{
  min-height: 100vh;
}
.page-splash{
  background: url(../images/splash-screen.png) right center no-repeat;
  background-size: cover;
}
.splash-logo img{
  margin: 2rem 0 0 1.8rem;
  width: 40%;
  max-width: 250px;
}
.splash-content{
    width: 100%;
    padding: 0 1rem 4rem 2rem;
    position: absolute;
    bottom: 0px;
}
.splash-content .splash-title{
  font-size: 3rem;
  color: #fff;
  text-align: left;
  margin-top: 4rem;
}
.splash-content .btn{
  font-size: 1.3rem;
  color: #000;
  background: #FFD63B;
  border-color: #FFD63B;
  padding: 0.5rem 1.4rem;
  border-radius: 100px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}
.font-weight-300{
  font-weight: 300;
}
.font-weight-500{
  font-weight: 500;
}
.font-weight-600{
  font-weight: 600;
}
.btn{
  border-radius: 100px;
  box-shadow: none;
  outline: none;
}
.btn-theme{
  background: #6F68EA;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  color: #fff;
  border: none;
  font-weight: 500;
}
.btn-theme.btn-lg{
  font-size: 1.2rem;
  padding: 0.5rem 1.4rem;
}
.btn-yellow{
    background: #FFD63B;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
    color: #000;
    font-weight: 500;
}
.btn-yellow.btn-sm{
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem !important;
    line-height: 1.1;
}
.appHeader {
    min-height: 93px;
    display: flex;
    align-items: center;
    position: fixed;
    top: env(safe-area-inset-top);
    left: 0;
    right: 0;
    z-index: 999;
    background: #FFF;
    color: #141515;
    box-shadow: 0 2px 7px 0 rgba(81, 73, 225, 0.23);
    padding: 15px 15px;
}
.appHeader.transperent{
    background: #F6F6F6;
    box-shadow: none;
}
.section {
    padding: 0 16px;
}
#appCapsule {
    padding: 93px 0;
    margin-bottom: env(safe-area-inset-bottom);
    margin-top: env(safe-area-inset-top);
}
.bg-light-purple{
  background: rgba( 217, 214, 255, 0.3);
}
.rating-box {
    position: relative;
    width: auto;
    display: inline-block;
}
.rating-box .rating {
    display: block;
    overflow: hidden;
}
.rating-box .rating:before, .rating-box:before {
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    display: block;
    letter-spacing: 3px;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
}
.rating-box .rating:before {
    content: "\f005" "\f005" "\f005" "\f005" "\f005";
    color: #ECBB00;
    position: relative;
    z-index: 2;
}
.rating-box:before {
    content: "\f005" "\f005" "\f005" "\f005" "\f005";
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    width: 100%;
    z-index: 1;
}
.review-item{
    background:   white;
    border-radius:  1rem;
    margin-bottom: 10px;
    box-shadow: 0px 2px 12px rgba(90, 90, 90, 0.08);
    padding: 0.7rem;
}
.restaurant-info-review-section .top .info, .restaurant-info-review-section .top .rating{
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant-info-review-section .top .info img{
    border-radius:  100px;
    border:   1px solid  #BEB8FF;
    width:  1.6rem;
    height:  1.6rem;
}
.restaurant-info-review-section .top .rating .review-number{
    color: #EC7600;
    font-size: 0.82rem;
    margin-right: 0.3rem;
    font-weight: 500;
}
.restaurant-info-review-section .top .rating .star{
    font-size: 0.82rem;
    color: #ECBB00;
}   

.restaurant-info-review-section .top .rating.nagative .review-number{
    color: #FF4B4B;
}
.restaurant-info-review-section .top .rating.nagative .star{
    color: #FF4B4B;
}  

.restaurant-info-review-section .comment p{
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;    
}   
.footer-button-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    background: #F6F6F6;
    min-height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: env(safe-area-inset-bottom);
}

.form-control{
    box-shadow: none !important;
    outline: none !important;
}
.top-search .input-group{
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0px 2px 12px rgba(90, 90, 90, 0.08);   
    overflow: hidden;
}
.top-search .input-group .form-control{
    padding: 0.7rem 1rem;
}
.top-search .input-group .btn{
    height: 100%;   
    margin-right: 5px; 
}

.offer-banner{
    padding: 1.2rem;
    border-radius: 1rem;
    background-repeat:  no-repeat !important;
}
.banner-purple{
    background: #6F68EA url(../images/claim-banner-1.png) right 10px bottom;   
}
.form-switch-inline {
    display: inline-block;
    margin-right: 1rem;
}
.form-switch{
   padding-left: 56px;
}
.form-switch .form-check-input{
    width: 46px;
    margin-left: -56px;
    height: 22px;
    margin-top: 0px;
    border-color: #efefef;
}
.form-switch .form-check-label{
    color: #19171B;
    font-size: 1.25rem;
}
.form-check-input:focus{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);   
}
.middle-buttons-slider{
    overflow: auto;
    display: flex;
}
.middle-buttons-slider .btn{
    background: #D9D6FF;
    color: #615BBC;
    border: none;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 0.35rem 1rem 0.35rem 0.6rem;
    display: inline-flex;
    align-items: center;
    min-width: 210px;
}
.section-title {
    font-size: 1.12rem;
    padding: 0.5rem 0;
    font-weight: 400;
}

.product-listing > .row{
    --bs-gutter-x: 1rem;
}
.product-item{
    background: #fff;
    border-color: #E3E3E3;
    padding: 0.5rem 0.6rem 0.6rem 0.6rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
    border: 0.5px solid #E3E3E3;
    position: relative;
    margin-top: 1rem;
}
.listing-image{
    margin-top: -1.4rem;
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
}
.listing-bottom-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listing-title{
    color: #463656;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.18rem;
    text-align: center;
    margin-bottom: 0.8rem;
}
.listing-price{
    color: #007E09;
    font-size: 0.87rem;    
    margin-bottom: 0px;
}
.listing-price i{
    font-size: 0.72rem;
    margin-right: 3px; 
}
.listing-add-button{
    height: 22px;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listing-add-button i{
    margin-right: 3px;
    font-size: 0.55rem;
}
.listing-popular{
    position: absolute;
    right: -8px;
    top: -8px;
}





.appBottomMenu {
    min-height: 67px;
    position: fixed;
    z-index: 999;
    bottom: 0.8rem;
    left: 0.8rem;
    right: 0.8rem;
    background: #19171B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 28px !important;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
}
.appBottomMenu .item {
    text-align: center;
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
}
.appBottomMenu .item .col {
    width: 100%;
    padding: 0 4px;
    text-align: center;
}
.appBottomMenu .item i{
    display: inline-flex;
    margin: 1px auto 3px auto;
    font-size: 1.4rem;
    line-height: 1em;
    transition: none;
    display: block;
    margin-bottom: 3px;
}
.appBottomMenu .item label{
    font-size: 0.87rem;
    font-weight: 300;
}
.appBottomMenu .item.active i{
    font-weight: 700;
}
.product-detail{
    width: 80%;
}